@import "../../../../util/colors.scss";

.main-category-item {
  color: $ft-gray;
  color: var(--ft-gray);
  margin-top: 0.3rem;
  font-size: 1rem;
  &-count {
    color: $ft-light-gray;
    color: var(--ft-light-gray);
  }
  &-active {
    color: $ft-green !important;
  }
}
