@import "../../../util/colors.scss";

.post-comment {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  &-count {
    color: $ft-gray;
    color: var(--ft-gray);
    font-size: 1rem;
    font-weight: 500;
    b {
      color: $ft-blue;
      color: var(--ft-blue);
    }
  }
}
