@import "../../../../util/colors.scss";

.upload-image {
  @media screen and (max-width: 500px) {
    width: 15rem !important;
    p {
      font-size: 0.7rem !important;
    }
  }
}

.handle-post-content {
  margin-top: 2rem;
  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  &-selected {
    display: block !important;
  }
  &-preview {
    display: none;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0.3rem 1rem;
    height: 40rem;
    overflow: scroll;
  }
  &-box {
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    border-color: $bd-light-light-gray;
    border-color: var(--bd-light-light-gray);
    position: relative;
    &-header {
      display: table;
      width: 100%;
      border-bottom: 1px solid;
      border-color: $bd-light-light-gray;
      border-color: var(--bd-light-light-gray);
      background-color: $bg-so-light-gray;
      background-color: var(--bg-so-light-gray);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;
      padding: 0.25rem 0.5rem;
      &-change {
        margin: calc(-0.25rem - 1px) 0 calc(-0.25rem - 1px) calc(-0.5rem - 1px);
        cursor: pointer;
        display: inline-block;
        &-item {
          display: inline-flex;
          align-items: center;
          padding: 0.8rem 1.2rem;
          color: #24292e;
          line-height: 23px;
          font-size: 0.9rem;
          @media screen and (max-width: 500px) {
            font-size: 0.7rem;
            padding: 0.5rem 0.9rem;
          }
          &:first-child {
            border-top-left-radius: 5px;
          }
          &-icon {
            font-size: 1.1rem;
            color: $ft-little-gray;
            margin-right: 0.8rem;
            @media screen and (max-width: 500px) {
              font-size: 0.8rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
      &-image {
        display: inline-block;
        width: calc(100% - 20rem);
        text-align: center;
        font-size: 1.2rem;
        color: $ft-dark-gray;
        @media screen and (max-width: 500px) {
          width: calc(100% - 13rem);
          font-size: 1rem;
        }
        svg {
          cursor: pointer;
        }
      }
      &-active {
        background-color: #fff;
        border: 1px solid transparent;
        border-bottom: 0;
        border-color: $bd-light-light-gray;
        border-color: var(--bd-light-light-gray);
        font-weight: 600;
      }
    }
    &-textarea {
      font-family: NotoSansKR;
      padding: 1rem;
      font-size: 1rem;
      border: none;
      resize: none;
      width: 100%;
      height: 40rem;
      overflow: scroll;
      display: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      &:focus {
        outline: none;
      }
    }
  }
}
