/*
  background-color
*/
$bg-white: #ffff;
$bg-fb: #3578e5;

/*
  color
*/
$ft-gray: #777;
$ft-white: #fff;

/*
  border
*/
$bd-light-gray: #bebebe;

:root {
  /*
    background-color
  */
  --bg-white: #ffff;
  --bg-fb: #3578e5;

  /*
    color
  */
  --ft-gray: #777;
  --ft-white: #fff;

  /* border */
  --bd-light-gray: #bebebe;
}
