/*
  background-color
*/
$bg-white: #ffff;
$bg-fb: #3578e5;
$bg-light-gray: rgb(241, 243, 245);
$bg-pop-up: rgba(0, 0, 0, 0.329);
$bg-gray: #ededed;

/*
  color
*/
$ft-gray: #777;
$ft-light-gray: #bdbdbd;
$ft-dark-gray: #464646;
$ft-little-gray: #a0a0a0;
$ft-white: #fff;
$ft-sky-blue: rgb(100, 197, 219);
$ft-blue: #5373f8;
$ft-black: black;
/*
  border
*/
$bd-light-gray: #c0c0c0;
$bd-dark-white: #dfdfdf85;

$sd-black: rgba(0, 0, 0, 0.096);
$sd-light-black: rgba(0, 0, 0, 0.055);

:root {
  /*
    background-color
  */
  --bg-white: #ffff;
  --bg-fb: #3578e5;
  --bg-light-gray: rgb(241, 243, 245);

  /*
    color
  */
  --ft-gray: #777;
  --ft-light-gray: #bdbdbd;
  --ft-dark-gray: #464646;
  --ft-little-gray: #a0a0a0;
  --ft-white: #fff;
  --ft-sky-blue: rgb(100, 197, 219);
  --ft-blue: #5373f8;
  --ft-black: black;

  /* border */
  --bd-light-gray: #c0c0c0;
  --bd-dark-white: #dfdfdf85;
}
