@import "./font.scss";

:root {
  /*
    background-color
  */
  --bg-white: #ffff;
  --bg-fb: #3578e5;
  --bg-light-gray: rgb(241, 243, 245);
  --bg-so-light-gray: #fafbfc;

  /*
    color
  */
  --ft-gray: #777;
  --ft-light-gray: #bdbdbd;
  --ft-dark-gray: #464646;
  --ft-little-gray: #a0a0a0;
  --ft-white: #fff;
  --ft-sky-blue: rgb(100, 197, 219);
  --ft-blue: #5373f8;
  --ft-black: black;

  /* border */
  --bd-light-gray: #c0c0c0;
  --bd-dark-white: #dfdfdf85;
  --bd-so-light-gray: #e0e0e0;
  --bd-light-light-gray: #e1e4e8;
}

* {
  box-sizing: border-box;
}

img {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  font-family: NotoSansKR;
  min-height: 100vh;
  margin: 0;
  -webkit-overflow-scrolling: none;
}

.notification {
  @media screen and (max-width: 500px) {
    width: 250px;
    &-title {
      font-size: 1rem;
    }
    &-message {
      font-size: 0.9rem;
    }
  }
}

.react-confirm-alert-body {
  @media screen and (max-width: 500px) {
    width: 300px !important;
  }
}

.notification-success:before {
  content: "✓";
}

.notification-info:before {
  content: "ℹ";
}

.notification-warning:before {
  content: "!";
}

.notification-error:before {
  content: "𝗑";
}

.react-confirm-alert-button-group > button:last-child {
  background-color: #fff;
  border: 1px solid gray;
  color: gray;
}

a {
  text-decoration: none;
}

@keyframes loading {
  0% {
    background-color: rgba(182, 182, 182, 0.1);
  }
  50% {
    background-color: rgba(182, 182, 182, 0.25);
  }
  100% {
    background-color: rgba(182, 182, 182, 0.1);
  }
}
