@import "./font.scss";

* {
  box-sizing: border-box;
}

img {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  font-family: NotoSansKR;
  min-height: 100vh;
  margin: 0;
  -webkit-overflow-scrolling: none;
}

.swal2-title {
  font-weight: 500 !important;
}

.swal2-confirm {
  background-color: #3085d6 !important;
}

a {
  text-decoration: none;
}

@keyframes loading {
  0% {
    background-color: rgba(182, 182, 182, 0.1);
  }
  50% {
    background-color: rgba(182, 182, 182, 0.25);
  }
  100% {
    background-color: rgba(182, 182, 182, 0.1);
  }
}
