@import "../../../../util/colors.scss";

.handle-post-category {
  width: 30%;
  padding-left: 1rem;
  select {
    width: 100%;
    border: 1px solid;
    border-color: $bd-light-light-gray;
    border-color: var(--bd-light-light-gray);
    border-radius: 5px;
    padding: 0.4rem;
    font-size: 0.8rem;
    outline: none;
    color: $ft-black;
    color: var(--ft-black);
    &:invalid {
      color: $ft-gray;
      color: var(--ft-gray);
    }
  }
}
