@import "../../../../util/colors.scss";

.upload-image {
  position: absolute;
  width: 20rem;
  z-index: 10;
  top: 4rem;
  right: 20px;
  .fileContainer {
    box-shadow: 0 1px 10px $sd-black;
  }
}
