{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2020",
    "paths": {
      "@/*": ["./src/*"]
    },
    "baseUrl": "."
  },
  "env": {
    "targets": {
      "node": 18
    }
  },
  "module": {
    "type": "commonjs"
  }
}
