@import "../../../util/colors.scss";

.header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: $bg-white;
  box-shadow: $sd-light-black 0px 2px 10px 0px;
  background-color: var(--bg-white);
  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    @media screen and (max-width: 450px) {
      padding: 0 0.5rem;
    }
    &-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        display: flex;
        align-items: center;
      }
      &-logo {
        width: 2.5rem;
        @media screen and (max-width: 450px) {
          width: 2rem;
        }
      }
      &-util {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          text-decoration: none;
        }
        &-login {
          color: $ft-gray;
          color: var(--ft-gray);
          font-weight: 600;
          font-size: 0.95rem;
          cursor: pointer;
          @media screen and (max-width: 450px) {
            font-size: 0.8rem;
          }
        }
        &-search {
          position: relative;
          width: 1.8rem;
          height: 1.8rem;
          overflow: hidden;
          border-radius: 1.8rem;
          margin-right: 1rem;
          max-width: 195px;
          border: 1px solid;
          border-color: $bd-light-gray;
          border-color: var(--bd-light-gray);
          transition: all ease-in-out 0.5s 0s;
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 450px) {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
          }
          img {
            width: 0.8rem;
            height: 0.8rem;
            cursor: pointer;
            opacity: 0.5;
          }
          &-active {
            justify-content: flex-start;
            width: 11.5rem;
            @media screen and (max-width: 450px) {
              width: 10rem;
            }
          }
          &-active &-input {
            display: inline-block;
          }
          &-input {
            color: $ft-gray;
            color: --var(--ft-gray);
            display: none;
            width: calc(100% - 1.5rem);
            max-width: 165px;
            height: 1.8rem;
            padding-left: 1rem;
            padding-right: 0.5rem;
            border: none;
            outline: none;
            font-size: 0.8rem;
            font-weight: 500;
            @media screen and (max-width: 450px) {
              height: 1.5rem;
              width: calc(100% - 2rem);
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
