@import "../../../../util/colors.scss";

.admin-category-item {
  position: relative;
  margin-top: 0.5rem;
  color: $ft-gray;
  color: var(--ft-gray);
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-icon {
    display: flex;
    align-items: center;
    &-delete {
      display: none;
      cursor: pointer;
    }
  }
  &:hover &-icon-delete {
    display: block;
  }
  &-active + &-input {
    display: block;
  }
  &-input {
    position: absolute;
    width: calc(100% - 7rem);
    height: 100%;
    font-size: 0.9rem;
    outline: none;
    display: none;
    border: none;
    color: $ft-gray;
    color: var(--ft-gray);
  }
  &-arrow {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    cursor: pointer;
    &-last {
      color: $ft-light-gray;
      color: var(--ft-light-gray);
      opacity: 0.6;
      cursor: default;
    }
  }
}
