@import "../../../../util/colors.scss";

.handle-post-content {
  margin-top: 2.5rem;
  &-box {
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    border-color: $bd-light-gray;
    border-color: var(--bd-light-gray);
    &-header {
      display: table;
      width: 100%;
      border-bottom: 1px solid;
      border-color: $bd-light-gray;
      border-color: var(--bd-light-gray);
      background-color: $bg-so-light-gray;
      background-color: var(--bg-so-light-gray);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;
      padding: 5px 10px;
      &-change {
        margin: -6px 0 -6px -11px;
        height: 100%;
        cursor: pointer;
        &-item {
          display: inline-block;
          padding: 1rem 2rem;
          &:first-child {
            border-top-left-radius: 5px;
          }
        }
      }
      &-active {
        background-color: #fff;
        border: 1px solid transparent;
        border-bottom: 0;
        border-color: $bd-light-gray;
        border-color: var(--bd-light-gray);
      }
    }
    textarea {
      padding: 0.3rem 1rem;
      font-size: 1.3rem;
      border: none;
      resize: none;
      width: 100%;
      height: 40rem;
      overflow: scroll;
      &:focus {
        outline: none;
      }
    }
  }
}
