@import "../../util/colors.scss";

.markdown-code {
  font-size: 1.125rem;
  color: rgb(34, 36, 38);
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
  p + h1,
  p + h2,
  p + h3,
  p + h4 {
    margin-top: 2.5rem;
    @media screen and (max-width: 768px) {
      margin-top: 2rem;
    }
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.5;
    margin-bottom: 1rem;
    @media screen and (max-width: 768px) {
      margin-bottom: 0.75rem;
    }
  }
  h1 {
    font-size: 2.5rem;
    @media screen and (max-width: 768px) {
      font-size: 2.25rem;
    }
  }
  h2 {
    font-size: 2rem;
    @media screen and (max-width: 768px) {
      font-size: 1.75rem;
    }
  }
  h3 {
    font-size: 1.5rem;
    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
    }
  }
  h4 {
    font-size: 1.125rem;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
  hr {
    height: 1px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(222, 222, 222);
  }
  blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 0px;
    margin-right: 0px;
    color: rgb(33, 37, 41);
    border-left: 4px solid;
    border-color: $ft-blue;
    border-color: var(--ft-blue);
    background-color: $bg-light-gray;
    background-color: var(--bg-light-gray);
    padding: 1rem 1rem 1rem 2rem;
    & :first-child {
      margin-top: 0px;
    }
    & :last-child {
      margin-bottom: 0px;
    }
  }
  pre {
    font-family: "Fira Mono", source-code-pro, Menlo, Monaco, Consolas,
      "Courier New", monospace;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: auto;
    letter-spacing: 0px;
    padding: 1rem;
    border-radius: 4px;
  }
  code {
    font-family: "Fira Mono", source-code-pro, Menlo, Monaco, Consolas,
      "Courier New", monospace;
  }
  p > code {
    background: rgba(27, 31, 35, 0.05);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  p > img {
    display: block;
    max-width: 100%;
    margin: 3rem auto;
  }
  table {
    border-collapse: collapse;
    display: block;
    width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    tr:nth-child(2n) {
      background-color: #f6f8fa;
    }
    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
    }
    td,
    th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
  }
  /**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

  code[class*="language-"],
  pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
  }

  @media print {
    code[class*="language-"],
    pre[class*="language-"] {
      text-shadow: none;
    }
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #f5f2f0;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray;
  }

  .token.punctuation {
    color: #999;
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #905;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #690;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #9a6e3a;
    /* This background color was intended by the author of this theme. */
    background: hsla(0, 0%, 100%, 0.5);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #07a;
  }

  .token.function,
  .token.class-name {
    color: #dd4a68;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #e90;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
