@import "../../../../util/colors.scss";

.main-posts-item {
  width: 19rem;
  box-shadow: $sd-black 0px 2px 10px 0px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  justify-content: space-between;
  @media screen and (max-width: 1200px) {
    width: calc(50% - 2rem);
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  &-thumbnail {
    position: relative;
    padding-top: 52%;
    &-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    position: relative;
    &-title {
      width: calc(100% - 1em);
      color: $ft-black;
      color: var(--ft-black);
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      overflow-y: hidden;
      @media screen and (max-width: 767px) {
        white-space: initial;
      }
    }
    &-description {
      color: $ft-gray;
      color: var(--ft-gray);
      font-size: 0.8rem;
      line-height: 1.5;
      text-overflow: ellipsis;
      margin: 0px 0px 0.25rem;
      max-height: 5rem;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 2rem;
      &-thumbnail {
        height: 5rem;
        margin-bottom: 0;
      }
    }
    &-subinfo {
      color: $ft-light-gray;
      color: var(--ft-light-gray);
      font-size: 0.8rem;
      line-height: 1.5;
    }
  }
  &-info {
    border-top: 1px solid;
    border-color: $bd-dark-white;
    border-color: var(--bd-dark-white);
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    &-icon {
      font-size: 1rem;
      color: $ft-gray;
      color: var(--ft-gray);
      margin-right: 0.2rem;
    }
    &-count {
      margin-right: 1rem;
      font-size: 0.85rem;
      color: $ft-little-gray;
      color: var(--ft-little-gray);
    }
  }
}
