@import "../../../util/colors.scss";

.main-category {
  display: flex;
  width: 10rem;
  flex-direction: column;
  margin-right: 1rem;
  @media screen and (max-width: 1250px) {
    padding: 1rem;
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
  &-title {
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid;
    border-color: $bd-light-gray;
    border-color: var(--bd-light-gray);
    padding-bottom: 0.5rem;
    color: $ft-dark-gray;
    color: var(--ft-dark-gray);
    margin-bottom: 0.3rem;
  }
}
