@import "../../util/colors.scss";

.post {
  width: 100%;
  display: flex;
  justify-content: center;
  &-box {
    max-width: 900px;
    position: relative;
    width: 100%;
  }
  &-content {
    margin-top: 3rem;
    padding: 1rem 1rem;
  }
}
