@import "../../../../util/colors.scss";

.main-category-row-edit {
  cursor: pointer;
}

.main-category-row-item {
  padding: 0.2rem 0.75rem;
  background-color: $bg-light-gray;
  background-color: var(--bg-light-gray);
  margin: 0.5rem;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  color: $ft-dark-gray;
  color: var(--ft-dark-gray);
  display: flex;
  align-items: center;
  &-count {
    margin-left: 0.25rem;
    color: $ft-gray;
    color: var(--ft-gray);
    font-size: 0.7rem;
  }
  &-active {
    background-color: $ft-blue;
    background-color: var(--ft-blue);
    color: $ft-white;
    color: var(--ft-white);
  }
  &-active > &-count {
    color: $ft-white;
    color: var(--ft-white);
    opacity: 0.8;
  }
}
