@import "../../../../util/colors.scss";

.post-comment-item {
  display: flex;
  width: 100%;
  margin-top: 1.2rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid;
  border-color: $bd-so-light-gray;
  border-color: var(--bd-so-light-gray);
  position: relative;
  &-img {
    max-width: 2.8rem;
    max-height: 2.8rem;
  }
  &-input {
    padding-left: 0.8rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    &-mg {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
    &-box {
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      input {
        color: $ft-black;
        color: var(--ft-black);
        background-color: #f1f3f5;
        background-color: var(--bg-light-gray);
        border-radius: 10px;
        border: none;
        outline: none;
        width: 100%;
        height: 2.5rem;
        padding: 1rem;
        padding-right: 6rem;
        font-size: 1rem;
        &:focus {
          outline: none;
        }
      }
      &-cancel {
        position: absolute;
        font-size: 1.1rem;
        cursor: pointer;
        color: $ft-gray;
        color: var(--ft-gray);
        right: 3rem;
        opacity: 0.8;
        &-right {
          right: 5rem;
        }
      }
      &-lock {
        right: 3rem;
        position: absolute;
        color: $ft-gray;
        color: var(--ft-gray);
        font-size: 1.4rem;
        cursor: pointer;
      }
      &-unlock {
        right: 3rem;
        position: absolute;
        color: $ft-light-gray;
        color: var(--ft-light-gray);
        font-size: 1.4rem;
        cursor: pointer;
      }
      &-submit {
        position: absolute;
        font-size: 1.2rem;
        cursor: pointer;
        color: $ft-blue;
        color: var(--ft-blue);
        right: 1rem;
      }
    }
  }
  &-box {
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
    flex-grow: 1;
    &-time {
      display: inline-block;
      opacity: 0.7;
      margin-left: 0.8rem;
      font-size: 0.7rem;
      color: $ft-black;
      color: var(--ft-black);
      font-weight: 500;
    }
    &-update {
      display: inline-block;
      opacity: 0.7;
      margin-left: 0.3rem;
      font-size: 0.7rem;
      color: $ft-black;
      color: var(--ft-black);
      font-weight: 500;
    }
    &-title {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      word-break: break-all;
      font-weight: 600;
      &-admin {
        color: green;
        margin-left: 0.5rem;
      }
      &-lock {
        margin-left: 0.5rem;
        opacity: 0.6;
      }
    }
    &-content {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      word-break: break-word;
      hyphens: auto;
      font-size: 0.8rem;
    }
    &-private {
      padding-left: 0.8rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 0.7rem;
      &-title {
        font-size: 0.9rem;
        font-weight: 500;
        padding-bottom: 0.7rem;
        opacity: 0.7;
      }
    }
    &-util {
      padding-top: 0.8rem;
      font-size: 0.7rem;
      opacity: 0.8;
      color: $ft-black;
      color: var(--ft-black);
      margin-bottom: 0.5rem;
      span {
        cursor: pointer;
        margin-right: 0.5rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
