@import "../../../../util/colors.scss";

.post-comment-item {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
  border-color: $bd-light-gray;
  border-color: var(--bd-light-gray);

  &-img {
    width: 2.8rem;
    height: 2.8rem;
  }
  &-box {
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
    &-title {
      font-size: 0.9rem;
      font-weight: 600;
    }
    &-content {
      font-size: 0.8rem;
    }
  }
}
