@import "../../../../util/colors.scss";

.post-comment-create {
  display: flex;
  flex-direction: column;
  &-text {
    font-size: 1rem;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    &-input {
      color: $ft-black;
      color: var(--ft-black);
      background-color: $bg-gray;
      border-radius: 10px;
      border: none;
      outline: none;
      width: calc(100% - 2.5rem);
      height: 2.5rem;
      padding: 1rem;
      font-size: 1rem;
    }
    &-submit {
      font-size: 1.9rem;
      cursor: pointer;
      color: $ft-blue;
      color: var(--ft-blue);
    }
    &-unlock {
      color: $ft-light-gray;
    }
  }
}
