@import "../../../util/colors.scss";

.post-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-break: break-all;
  align-items: center;
  padding-top: 5rem;
  @media screen and (max-width: 1024px) {
    padding-top: 1rem;
  }
  &-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    &-title {
      width: 100%;
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      @media screen and (max-width: 1024px) {
        font-size: 2rem;
      }
    }
    &-date {
      width: 100%;
      display: inline-block;
      color: $ft-gray;
      color: var(--ft-gray);
      font-size: 1.1rem;
      cursor: pointer;
      padding-top: 1rem;
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }
      &-time:hover {
        text-decoration: underline;
      }
    }
    &-comma {
      margin: 0 0.25rem;
    }
  }
  &-thumbnail {
    margin-top: 5rem;
    max-height: 100vh;
    max-width: 90%;
    width: auto;
    height: auto;
    object-fit: contain;
    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }
}
