@import "../../../util/colors.scss";

.post-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-break: break-all;
  align-items: center;
  padding-top: 5rem;
  @media screen and (max-width: 1024px) {
    padding-top: 1rem;
  }
  &-container {
    width: 100%;
    &-handle {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      &-btn {
        cursor: pointer;
        font-size: 1.3rem;
        color: $ft-light-gray;
        color: var(--ft-light-gray);
      }
      &-box {
        position: absolute;
        display: flex;
        bottom: -5rem;
        flex-direction: column;
        border: 1px solid;
        border-color: $bd-light-gray;
        border-color: var(--bd-light-gray);
        border-radius: 5px;
        color: $ft-dark-gray;
        color: var(--ft-dark-gray);
        div {
          padding: 0.5rem;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          svg {
            margin-left: 0.5rem;
          }
        }
      }
    }
    &-title {
      width: 100%;
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      @media screen and (max-width: 1024px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.7rem;
      }
    }
    &-date {
      width: 100%;
      display: inline-block;
      color: $ft-gray;
      color: var(--ft-gray);
      font-size: 1.1rem;
      padding-top: 1rem;
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }
      &-time {
        cursor: pointer;
      }
      &-time:hover {
        text-decoration: underline;
      }
    }
    &-comma {
      margin: 0 0.25rem;
    }
  }
  &-thumbnail {
    margin-top: 5rem;
    max-height: 100vh;
    max-width: 90%;
    width: auto;
    height: auto;
    object-fit: contain;
    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }
}
