@import "../../../../util/colors.scss";

.handle-post-content-thumbnail {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  input {
    margin-left: 3rem;
    width: calc(100% - 20% - 3rem);
    &:focus {
      outline: none;
    }
  }
}
