@import "../../../../util/colors.scss";

.handle-post-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  div {
    padding: 0.5rem 1rem;
    margin-left: 1.5rem;
    box-shadow: 1px 1px 10px $sd-black;
    cursor: pointer;
    border-radius: 5px;
  }
  &-cancel {
    background-color: $bg-white;
    background-color: var(--bg-white);
  }
  &-temp {
    background-color: $bg-white;
    background-color: var(--bg-white);
  }
  &-save {
    background-color: $ft-blue;
    background-color: var(--ft-blue);
    color: white;
  }
}
